
body 
{
  background-color:#FF9494; /* Pink */
  margin:0px;
  padding: 0px;
  outline-style: solid;
  outline-color: #000000;
  outline-width: thin;
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: small;
  direction: ltr;
}