
/* Style for the Color Picker */

.divSatVal {
  position: absolute;
  top: 4px;
  left: 4px;
  padding: 0px;
}

.divHue {
  position: absolute;
  top: 4px;
  left: 220px;
  padding: 0px;
}

.divButtons {
  padding: 0px;
  position: absolute;
  top: 220px;
  left: 120px;
}

.divHueSel {
  position: absolute;
  top: 4px;
  left: 280px;
  width: 30px;
  height: 40px;
  background-color: green;
}

.divSatSel {
  position: absolute;
  top: 220px;
  left: 4px;
  width: 100px;
  height: 40px;
  background-color: red;
  border: 1px solid black;
}

.cpRoot {
  position: relative;
  top: 0px;
  left: 0px;
  width: 277px;
  height: 266px;
  border: 1px solid black;
}

.cpCanvasSatval {
	margin: 0px;
  background-color: white;
  border: 1px solid black;
}

.cpCanvasHue {
	margin: 0px;
  background-color: white;
  border: 1px solid black;
}

.cpLabel {
  max-width: 100px; 
}

.outlineOn {
  border: 1px solid black;
}

.outlineOff {
  border: 0px none black;
}
 
